@import '../../mainSass/main';

.main-feed {
    max-width: 750px;
    @extend %flex-column-nowrap;
    flex-grow: 2;
    list-style-type: none;
    padding: 0;
    margin: 16px 0;
    display: flex;
}

@media (min-width: 1400px) {
    .main-feed {
        margin: 0 auto;
    }
}