@import '../../mainSass/main';
.report-list-wrapper {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-radius: 4px;
  width: 200px;
  padding: 8px 8px 4px;
  z-index: 2;
}
.report-list-item {
  @extend %font-roboto;
  letter-spacing: 1.2px;
  font-size: 14px;
  padding: 4px 8px 4px 16px;
  margin-bottom: 4px;
}
.report-list-item:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.055);
}