[submodule "webapp/src/_internal/simple-video"]
	path = webapp/src/_internal/simple-video
	url = https://github.com/vivekburman/simple-video.git
[submodule "webapp/src/_internal/table"]
	path = webapp/src/_internal/table
	url = https://github.com/vivekburman/table.git
[submodule "webapp/src/_internal/simple-image"]
	path = webapp/src/_internal/simple-image
	url = https://github.com/vivekburman/simple-image.git
[submodule "webapp/src/_internal/react-editor-js"]
	path = webapp/src/_internal/react-editor-js
	url = https://github.com/vivekburman/react-editor-js.git
[submodule "webapp/src/_internal/editor.js"]
	path = webapp/src/_internal/editor.js
	url = https://github.com/vivekburman/editor.js.git
