[submodule "webapp/src/_internal/simple-video"]
	path = webapp/src/_internal/simple-video
	url = https://github.com/vivekburman/simple-video.git
[submodule "webapp/src/_internal/table"]
	path = webapp/src/_internal/table
	url = https://github.com/vivekburman/table.git
