@import '../../mainSass/main';
.notification-icon-wrapper::before {
  display: block;
  content: '';
  background-color: hsla(204, 89%, 52%, 1);
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  right: 8px;
  top: 4px;
}

@media (min-width: 768px) {
  .notification-icon-wrapper::before {
    top: 6px;
    width: 7px;
    height: 7px;
  }
}
.notification-icon-wrapper-no-notification::before {
  content: none;
}
.notification-icon-wrapper {
  position: relative;
}
.profile-wrapper {
  position: relative;
}
.sign-in-btn {
  display: inline-block;
  cursor: pointer;
  padding: 9px 16px; 
  font-size: 14px;
  margin: 0 10px 0 8px;
  letter-spacing: .30px;
  @extend %font-roboto;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  background-color: #272727;
  outline: none;
  box-shadow: 0 0 0 1px #dcdcdc18;
  color: #fff;
}
.sign-in-btn:hover {
  background-color: #4b4b4b;
  box-shadow: 0 1px 2px 0 #4b4b4b48, 0 1px 3px 1px #4b4b4b0c;
}