@import '../../mainSass/main';

.payment-history-container {
  max-width: 680px;
  margin: 0 8px;
}
@media (min-width: 768px) {
  .payment-history-container {
    margin: 0 auto;
  }
}
.payment-history-item {
  padding: 8px;
  border-radius: 4px;
  margin: 4px 0;
  border: 1px solid rgba(110, 109, 109, 0.212);
  background-color: #fff;
}
.payment-history-item:hover {
  box-shadow: 0 1px 0.4px 0px rgba(128, 128, 128, 0.39);   
}
