@import '../../mainSass/main';

.news-item, .news-item-loader {
  box-shadow: 0 1px 0.4px 0px rgba(128, 128, 128, 0.39);
  border-radius: 4px;
  margin-bottom: 4px;
  background-color: #fff;
  border: 1px solid rgba(110, 109, 109, 0.212);
}
.news-details {
  box-sizing: border-box;
}
.news-thumbnail {
  min-width: 246.67px;
}
@media (min-width: 600px) {
  .news-thumbnail {
    order: 2;
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .news-thumbnail {
    padding: 0;
  }
}
.news-details, .news-item-loader-details {
  padding: 0 8px 16px 8px;
} 
.news-item-loader-details {
  line-height: 1.5;
}
.news-item-loader-desktop {
  display: none;
}
.news-item-loader-mobile {
  display: initial;
}
@media (min-width: 600px) {
  .news-item-loader-mobile {
    display: none;
  }
  .news-item-loader-desktop {
    display: flex;
  }
}
@media (min-width: 768px) {
  .news-item {
    max-width: unset;
    box-shadow: unset;
    padding: 16px;
  }
  .news-item:hover {
      box-shadow: 0 1px 0.4px 0px rgba(128, 128, 128, 0.39);   
  }
  .news-thumbnail + .news-details {
      width: 80%;
  }
  .news-thumbnail {
      width: 20%;
  }
}
@media (min-width: 992px) {
  .news-thumbnail + .news-details {
    width: 70%;
  }
  .news-thumbnail {
    width: 30%;
  }
}
@media(min-width: 1200px) {
  .news-thumbnail + .news-details {
    width: 80%;
  }
  .news-thumbnail {
    width: 20%;
  }
}
.news-image {
  display: block;
  width: 100%;
  border-radius: 0 4px 0 0;
  height: 200px;
  object-fit: cover;
}
@media (min-width: 435px) {
  .news-image {
    border-radius: 0;
  }
}
.news-title {
  display: -webkit-box;
  color: #000;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  font-size: 20px;
  line-height: 1.2;
  margin: 4px 0;
  @extend %font-roboto;
}

@media (min-width: 1200px) {
  .news-title {
    font-size: 22px;
  }
}
.creator-pic {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.creator-info {
  @extend %flex-row-nowrap;
  align-items: stretch;
}

.news-snapshot {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin: 8px 0;
  color: grey;
  line-height: 1.4;
  @extend %font-roboto;
  font-size: 15px;
}
.bookmark-link {
  width: 18px;
  height: 18px;
}
.news-item-link {
  text-decoration: none;
  @extend %flex-column-nowrap;
  cursor: inherit;
}
@media (min-width: 600px) {
  .news-item-link {
    flex-direction: row;
  }
}
.news-item-link:visited {
  color: initial;
}
