@import '../../mainSass/main';

.news-item {
  max-width: 746px;
  box-shadow: 0 1px 0.4px 0px rgba(128, 128, 128, 0.39);
  border-radius: 4px;
  margin: 8px 16px 4px 16px;
  background-color: #fff;
  border: 1px solid rgba(110, 109, 109, 0.212);
}
.news-thumbnail {
  min-width: 200px;
  padding: 10px;
}
@media (min-width: 435px) {
  .news-thumbnail {
    order: 2;
  }
}
@media (min-width: 768px) {
  .news-thumbnail {
    padding: 0;
  }
}
.news-details {
  padding: 0 8px 8px 8px;
} 
@media (min-width: 768px) {
  .news-item {
    max-width: unset;
    box-shadow: unset;
    padding: 16px;
  }
  .news-item:hover {
      box-shadow: 0 1px 0.4px 0px rgba(128, 128, 128, 0.39);   
  }
  .news-details {
      width: 60%;
  }
  .news-thumbnail {
      width: 40%;
  }
}
.news-image {
  display: block;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.news-title {
  display: -webkit-box;
  color: #000;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  font-size: 20px;
  line-height: 1.2;
  margin: 4px 0;
  @extend %font-playfair;
}
@media (min-width: 576px) {
  .news-title {
    font-size: 22px;
  }
}
@media (min-width: 920px) {
  .news-title {
    font-size: 25px;
  }
}
.news-details {
  @extend %flex-column-nowrap;
  align-content: space-between;
}
.creator-pic {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.creator-name {
  font-size: 13px;
  color: #000;
  font-weight: 500;
  margin: 0;
  @extend %font-roboto;
}
.creation-time {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  @extend %font-roboto;
}
.creator-info {
  @extend %flex-row-nowrap;
  align-items: stretch;
}
.creator {
  padding: 3px 0;
  margin-left: 8px;
}
.news-snapshot {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin: 8px 0;
  color: grey;
  line-height: 1.4;
  @extend %font-roboto;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
.bookmark-link {
  width: 18px;
  height: 18px;
}
.news-item-link {
  text-decoration: none;
  @extend %flex-column-nowrap;
  cursor: inherit;
}
@media (min-width: 435px) {
  .news-item-link {
    flex-direction: row;
  }
}
.news-item-link:visited {
  color: initial;
}