@import '../../mainSass/main';

.link-text {
  margin: 0;
  padding-bottom: 4px;
  color: #050505;
}
.notifications-container {
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.24);
}

.notifications-list-container {
  overflow: auto;
  @extend %flex-column-nowrap;
}
@media (min-width: 768px) {
  .notifications-list-container {
    max-height: 400px;
    width: 300px;
  }
  .notifications-container {
   border-radius: 4px;
  }
}

.notification-item {
  height: 100%;
  padding: 4px;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.11);
}
.notification-wrapper:hover {
  background-color: rgba(128, 128, 128, 0.055);
}
.notification-item-unread::after {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: hsla(204, 89%, 52%, 1);
  content: '';
  bottom: 30%;
  right: 15px;
  position: absolute;
}
.notification-item-unread .link-text {
  color: #6b6d70;
}
.notification-wrapper {
  padding: 8px;
  border-radius: 8px;
  @extend %flex-row-nowrap;
  align-items: center;
}
.notification-text-wrapper {
  padding-left: 16px;
}
.notification-time {
  font-size: 13px;
}

.notifications-header-container {
  padding: 0 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}
.notifications-header {
  @extend %font-roboto;
  font-weight: 500;
  margin-left: 20px;
  flex-grow: 1;
}
.mark-read {
  cursor: pointer;
  font-size: 12px;
  @extend %font-roboto;
  font-weight: bold;
  color: blue;
}