@import '../../mainSass/main';

.preview {
  overflow-y: auto;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  line-height: 1.6;
  word-break: break-word;
  z-index: 40;
  background-color: rgba(22, 17, 17, 0.644);
}
.preview p {
  margin-top: 0;
}
.preview-close {
  background-color: rgba(104, 104, 104, 0.774);
  position: fixed;
  right: 55px;
  border-radius: 50%;
  top: 10px;
}
@media (min-width: 920px) {
 .preview-close {
  top: 12px;
  right: 24px;
  background-color: rgba(255, 255, 255, 0.774);
 }
}
.preview-container {
  position: relative;
  word-break: keep-all;
  border: 1px solid rgba(0, 0, 0, 0.212);
  background-color: #fff;
  padding: 30px 16px;
  min-height: 100%;
}

@media (min-width: 919px) {
  .preview {
    padding: 16px;
  }
  .preview-container {
    max-width: 680px;
    margin: 0 auto;
  }
}

