@import '../../mainSass/main';

.preview {
  overflow-y: auto;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  line-height: 1.6;
  word-break: break-word;
  z-index: 40;
  background-color: rgba(22, 17, 17, 0.644);
}
.preview p {
  margin-top: 0;
}
.preview-close {
  background-color: rgba(104, 104, 104, 0.774);
  position: fixed;
  right: 55px;
  border-radius: 50%;
  top: 10px;
}
@media (min-width: 920px) {
 .preview-close {
  top: 12px;
  right: 24px;
  background-color: rgba(255, 255, 255, 0.774);
 }
}
.preview-container {
  position: relative;
  word-break: keep-all;
  border: 1px solid rgba(0, 0, 0, 0.212);
  background-color: #fff;
  padding: 30px 16px;
  min-height: 100%;
}

@media (min-width: 919px) {
  .preview {
    padding: 16px;
  }
  .preview-container {
    max-width: 680px;
    margin: 0 auto;
  }
}

.preview-header,
.preview-paragraph,
.preview-table,
.prevew-blockquote,
.preview-video,
.preview-image,
.preview-list {
  padding: 4px 0;
}
.preview-table {
  border-spacing: 2px;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  border-color: grey;
}
.preview-delimiter {
  text-align: center;  
}
.preview-delimiter::before {
  display: inline-block;
  content: "***";
  font-size: 30px;
  line-height: 65px;
  height: 30px;
  letter-spacing: 0.2em;
}
.preview-tr {
  padding: 10px;
  border-radius: 2px;
}
.preview-td {
  padding: 10px;
  border: 1px solid #dbdbe2;
}
.preview-ul {
  list-style-type: decimal;
  padding-left: 32px;
}
.preview-li {
  padding: 4px 0;
}
.preview-video, .preview-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 630px;
  min-height: 300px;
}
.preview-header {
  margin: 0;
}
.preview-paragraph, .preview-li,
.preview-td, .preview-blockquote {
  @extend %font-cormorant;
  font-size: 18px;
  line-height: 1.6;
}
@media (min-width: 768px) {
  .preview-paragraph, .preview-li,
  .preview-td, .preview-blockquote {
    font-size: 23px;
  }
}

