@import '../../mainSass/main';
.rotate-180 {
  transform: rotateY(180deg);
}
.size-29 {
  width: 29px;
  height: 29px;
}
.align-self-center {
  align-self: center;
}
.likes-count {
  @extend %font-roboto;
  font-size: 17px;
  color: #000;
  margin-top: 8px;
}
@media (min-width: 576px) {
  .likes-count {
    margin-top: 12px;
  }
}
@media (min-width: 768px) {
  .likes-count {
    margin-top: 15px;
  }
}
.views-row {
  margin-left: 4px;
}

.likes-count + .separator {
  margin: 10px 4px 0 6px;
}
