.rotate-180 {
  transform: rotateY(180deg);
}
.size-29 {
  width: 29px;
  height: 29px;
}
.align-self-center {
  align-self: center;
}
.likes-count {
  margin-top: 14px;
  font-size: 14px;
  font-weight: 200;
}
.views-row {
  margin-left: 4px;
}
.views-column {
  margin: 0;
}
.likes-count + .separator {
  margin: 10px 4px 0 6px;
  font-size: 14px;
}
.margin-btm {
  margin-bottom: 18px;
}