@import '../../mainSass/main';
.header-component {
    font-family: 'Rubik', sans-serif;
    @extend %flex-row-nowrap;
    position: fixed;
    z-index: 100;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 4px;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.14);
}
@media (min-width: 576px) {
    .header-component {
        padding: 4px 0;
    }
}
@media (min-width: 768px) {
 .header-component {
    padding: 8px 0;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
 }   
}
.icon-img {
    width: 20px;
    padding: 8px;
    height: 20px;
}
.icon-img:hover {
    cursor: pointer;
    border-radius: 30%;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14);
}
@media (min-width: 576px) {
    .icon-img {
        width: 22px;
        height: 22px;
    }
}
@media (min-width: 768px) {
    .icon-img {
        width: 26px;
        height: 26px;
    }
}
.figure {
    margin: 0;
}
.search {
    @extend %flex-row-nowrap;
}
@media (min-width: 768px) {
    .search {
        flex-grow: 1;
    }
}
.search-input {
    display: none;
    max-width: 600px;
    font-size: 16px;
    background-color: whitesmoke;
    border: none;
    font-weight: 900;
    align-self: center;
    padding: 10px 16px;
    border-radius: 4px 0 0 4px;
}
.search figure {
    margin: 0;
}
.search-input:focus {
    outline: none;
    border-left: 4px solid rgb(56, 187, 89);
}
@media (min-width: 768px) {
    .search-input {
        display: initial;
        width: 75%;
    }
    .search .icon-img {
        padding: 0;
    }
    .search figure {
        background-color: whitesmoke;
        border-radius: 0 4px 4px 0;
        padding: 6px 16px 2px;
    }
}
@media (min-width: 992px) {
    .search-input {
        width: 60%;
    }    
}
nav ul {
    margin: 0;
    padding: 0;
    flex-direction: row;
    display: flex;
    list-style-type: none;
}
.showNavMenu {
    display: flex;
    position: absolute;
    padding-top: 8px;
}
@media (min-width: 576px) {
    .showNavMenu {
        position: static;
        padding-top: 0;
    }
}
.search-and-logo {
    @extend %flex-row-nowrap;
    flex-grow: 2;
    justify-content: space-between;
}
.search-and-logo .icon-img:hover {
    border-radius: unset;
    box-shadow: unset;
}
@media (min-width: 768px) {
    .search-and-logo {
        padding-left: 50px;
        justify-content: unset;
    }
}
.logo {
    cursor: pointer;
    align-self: center;
    margin: 0 5% 0 27px;
    color: yellowgreen;
    font-size: 18px;
    font-weight: 400;
}
@media (min-width: 576px) {
    .logo {
        font-size: 22px;
    }
}
.show-accordian-icon {
    margin-left: 8px;
    padding-top: 4px;
    display: initial;
}
@media (min-width: 527px) {
    .show-accordian-icon {
        margin-left: 16px;
    }
}
@media(min-width: 768px) {
    .show-accordian-icon {
        display: none;
    }  
}
.expand-logo {
    display: initial;
}
.expand-search {
    display: initial;
    width: 100%;
}
.collapse-logo, .collapse-search {
    display: none;
}
.flex-1 {
    flex-grow: 1;
}
.flex-0 {
    flex-grow: 0;
}
.show-accordian-icon {
    padding: 6px 0 2px;
    display: block;
}
@media(min-width: 768px) {
    .show-accordian-icon {
        display: none;
    }  
}
.open-icon {
    display: initial;
}
.close-icon {
    display: none;
}
.m-right-12-27sm {
    margin-right: 12px;
}
@media (min-width: 768px) {
    .m-right-12-27sm {
        margin-right: 50px;
    }
}
.top-nav {
    @extend %flex-row-nowrap;
}