@import '../../mainSass/main';
.personal-info-container {
  margin: 8px 16px;
  @extend %flex-row-nowrap;
  align-items: center;
}
.personal-info-img-container {
  margin: 0;
  padding: 0;
}
.personal-info-details {
  flex-grow: 2;
}
.personal-info-details .username {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: 400;
}
.calendar-img {
  padding-left: 1px;
  display: inline-block;
  width: 13px;
  height: 13px;
  vertical-align: middle;
}
.time {
  @extend %font-roboto;
  font-size: 17px;
  color: grey;
}