@import '../../mainSass/main';

.creator-name {
  font-size: 13px;
  color: #000;
  font-weight: 500;
  margin: 0;
  @extend %font-roboto;
}
.creation-time {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  @extend %font-roboto;
}
.creator {
  padding: 3px 0;
  margin-left: 8px;
}