.tag {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 6px 16px;
  border-radius: 3px;
  color:rgba(0, 0, 0, 0.54);
  font-weight: 400;
  margin: 4px 16px 4px 0;
}
.tags-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
}