@import '../../mainSass/main';

.figure {
  margin: 0;
}
.search {
  @extend %flex-row-nowrap;
  position: relative;
}
@media (min-width: 768px) {
  .search {
    flex-grow: 1;
    margin: 0 24px;
  }
}

.search-input {
  display: none;
  width: 100%;
  font-size: 16px;
  background-color: whitesmoke;
  border: none;
  font-weight: 900;
  align-self: center;
  padding: 12px 16px;
  border-radius: 4px 0 0 4px;
}
.search-logo-wrapper {
  width: 100%;
  @extend %flex-row-nowrap;
}
.search-logo-wrapper > .icon-img-close {
  display: none;
} 
.search-input:focus {
  border-left: 4px solid rgba(0, 0, 0, 0.432);
}
.search-input + .icon-img {
  margin-bottom: 3px;
}
@media (min-width: 768px) {
  .search-input + .icon-img {
    background-color: whitesmoke;
    vertical-align: middle;
    margin-bottom: 0;
    border-radius: 0 4px 4px 0;
    position: absolute;
  }
  .search-input {
    max-width: 600px;
    display: initial;
  }
  .search-logo-wrapper {
    width: 85%;
    display: initial;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .search-logo-wrapper {
    margin: 0;
    text-align: center;
  }
}
.expand-logo {
  display: initial;
}
.expand-search {
  display: initial;
  width: 100%;
}
.collapse-logo, .collapse-search {
  display: none;
}
.search-and-logo {
  @extend %flex-row-nowrap;
  flex-grow: 2;
  justify-content: space-between;
}
.search-and-logo .icon-img:hover {
  border-radius: unset;
  box-shadow: unset;
}
@media (min-width: 768px) {
  .search-and-logo {
      justify-content: unset;
  }
}
.logo {
  align-self: center;
  @extend %font-playfair;
  margin: 0 5% 0 10px;
  font-size: 20px;
  font-weight: 400;
}
@media (min-width: 576px) {
  .logo {
      margin-left: 27px;
      font-size: 25px;
  }
}