@import '../../mainSass/main';
.error-page {
  position: fixed;
  top: 0;
  left: 0;
  & .error-code {
    font-size: 100px;
    @extend %font-crimson;
  }
  & .error-text {
    margin-top: -15px;
    margin-bottom: 25px;
    @extend %font-roboto;
    font-weight: 600;
    font-size: 18px;
  }
  & .back-to-home {
    border-radius: 3px;
    background-color: rgb(53, 123, 228);
    color: #fff;
    padding: 8px 16px;
  }
}