@import '../../mainSass/main';

.main {
    @extend %flex-row-nowrap;
    margin: 0;
    justify-content: space-around;
    position: relative;
    width: 100%;
    padding-top: 52px;
}
.w-100 {
    width: 100%;
}
@media (min-width: 786px) {
    .margin-main {
        margin-top: 16px;
    }
    .main {
        padding-top: 55px;
    }
}
@media (min-width: 1400px) {
    .main {
        padding-top: 64px;
    }
}