.main {
    width: 100%;
    padding-top: 52px;
    max-width: 1400px;
    margin: 0 auto;
}
@media (min-width: 786px) {
    .margin-main {
        margin-top: 16px;
    }
    .main {
        padding-top: 55px;
    }
}
@media (min-width: 1400px) {
    .main {
        padding-top: 64px;
    }
}