@import '../../mainSass/main';

.main {
    @extend %flex-row-nowrap;
    margin: 0;
    position: relative;
    padding-top: 52px;
}
.w-100 {
    width: 100%;
}
@media (min-width: 786px) {
    .margin-main {
        margin-top: 16px;
    }
    .main {
        padding-top: 55px;
    }
}