.news-feed-wrapper {
  justify-content: center;
}
@media (min-width: 929px) {
  .news-feed-wrapper {
    justify-content: flex-start;
  }
}
.news-feed-main-wrapper {
  max-width: 910px;
  padding: 0 30px;
  .feed-wrapper {
    border-left: 1px solid rgba(1,1,1,0.20);
    border-right: 1px solid rgba(1,1,1,0.20);
  }
}