.progress-track {
  background-color: grey;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  margin: 0 5px;
}
.thumb {
  border-radius: 5px;
  height: 100%;
  width: 0%;
  background-color: #fff;
}