@import '../../mainSass/main';
.full-post-container {
 width: 100%;  
 margin-bottom: 40px;
 position: relative;
 justify-content: center;
}
.full-news {
  max-width: 680px;
  margin: 0 16px;
}
@media (min-width: 768px) {
  .full-news {
    margin: 0 32px;
  }
}
@media (min-width: 992px) {
  .full-news {
    margin: 0 64px;
  }
}
.news-location, .news-time-of-post {
  font-size: 13px;
  color: rgb(85, 85, 85);
}
@media (min-width: 768px) {
  .news-location, .news-time-of-post {
    font-size: 14px;
  } 
}
.separator {
  margin: 0 4px;
  font-size: 12px;
  color: grey;
}
.username {
  font-size: 16px;
  margin-bottom: 4px;
  line-height: 0.5;
}
.username, .news-location, .news-time-of-post {
  @extend %font-playfair;
}
@media (min-width: 768px) {
  .username {
    font-size: 18px;
  }
}
.news-reaction-bookmark {
  display: none;
}
@media (min-width: 1200px) {
  .news-reaction-bookmark {
    position: fixed;
    display: initial;
    top: 50%;
    left: 50px;
  }
}
.social-share-wrapper {
  margin-top: 17px;
}
.news-heading {
  @extend %font-cormorant;
}