@import '../../mainSass/main';

.dashboard-tab-list {
  @extend %flex-row-nowrap;
  border-bottom: 1px solid #aaa;
  margin: 0 8px 10px;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
}
.tab-item {
  width: 25%;
  text-align: center;
  display: inline-block;
  border: 1px solid transparent;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  margin: 0 4px;
  cursor: pointer;
}
.react-tabs__tab--selected {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid green;
  color: black;
  border-radius: 5px 5px 0 0;
}
.tab-item:focus {
  border-color: none;
  outline: none;
}


