.follow-following-component {
    max-width: 680px;
    padding: 0 10px;
    margin: 0 auto;
    
    .ff-title {
        font-size: 24px;
        padding-left: 13px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    .ff-tabslist {
        padding: 0;
        border-bottom: 1px solid #aaa;
    }
    .ff-tab-item {
        font-size: 16px;
        padding: 5px 15px;
    } 
    .react-tabs__tab--selected {
        border-bottom: 3px solid hsla(204, 89%, 52%, 1);
        border-radius: 5px 5px 0 0;
        color: rgb(66, 66, 66);
      }
}
@media (min-width: 576px) {
    .follow-following-component {
    }
}
@media (min-width: 768px) {
    .follow-following-component {
        .ff-tab-item {
            font-size: 18px;
        }
    }
}
@media (min-width: 992px) {
    .follow-following-component {
        .ff-tab-item {
            font-size: 20px;
        }
    }
}
@media (min-width: 1200px) {
    .follow-following-component {

    }
}