@import '../../mainSass/main';

.aside-news-title {
  margin: 0 0 2px 8px;
  padding-top: 0;
  font-size: 16px;
  line-height: 1.33;
  color: #000;
  @extend %font-roboto;
  font-weight: 600;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  display: -webkit-box;
}
.aside-list-item {
  box-sizing: border-box;
  padding: 16px 16px 2px;
  margin-bottom: 8px;
  width: 100%;
  border-radius: 4px;
}

.aside-list-item-url {
  box-shadow: 0 1px 0.4px 0px rgba(128, 128, 128, 0.39);
  border: 1px solid rgba(110, 109, 109, 0.212);
}

@media (min-width: 929px) {
  .aside-list-item {
    box-shadow: none;
  }
}

.aside-list-item-url:hover {
  box-shadow: 0 1px 0.4px 0px rgba(128, 128, 128, 0.39); 
}