@import '../../mainSass/main';

.income-graph-container {
  padding: 16px;
  height: 250px;
  background-color: #fff;
}

.chart-container {
  margin-bottom: 16px;
  border: 1px solid rgba(110, 109, 109, 0.212);
  border-radius: 4px;
}
.chart-container .header {
  margin: 4px 0;
  padding: 8px 16px;
  @extend %font-roboto;
}
.total-amount {
  padding: 8px 16px;
  font-size: 18px;
  @extend %font-roboto;
  font-weight: 500;
}