@import '../../mainSass/main';
.accordian-list-container {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #0000002a;
}
.accordian-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 8px 0 0 0;
    position: fixed;
    overflow: auto;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
    border-right: 1px solid rgba(160, 114, 114, 0.418);
}
@media(min-width: 768px) {
    .accordian-list-container {
        z-index: 1;
        flex-grow: 1;
        background-color: #fff;
        position: relative;
        max-width: 185px;
    }
    .accordian-list {
        width: 185px;
        border-right: none;
    }
}
.divider {
    margin-top: 8px;
    border-top: 1px solid rgba(128, 128, 128, 0.418);
}
.accordian-list-item {
    display: flex;
    align-items: baseline;
    padding: 15px 5px 15px 20px;
    margin-right: 15px;
}
.accordian-list-item > * {
    display: block;
    width: 100%;
    text-decoration: none;
    color: unset;
}
.accordian-list-item:hover {
    cursor: pointer;
    background-color:  rgba(128, 128, 128, 0.055);
    border-radius: 4px 10px 10px 4px;
}

.item-name {
    font-size: 16px;
    @extend %font-roboto;
}
.item-img {
    display: inline-block;
    margin-right: 8px;
    width: 16px;
    height: 16px;
}
.show-list {
    display: block; 
}
@media (max-width: 767px) {
    .show-list .accordian-list {
        animation-name: openAccordian;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
    }
}
.hide-list {
    display: none;
}

@keyframes openAccordian {
    from {
        width: 40%;
    }
    to {
        width: 90%;
    }
}
@media (max-width: 767px) {
    .show-list + .news-feed, .hide-list + .news-feed {
        margin-left: 0;
    }
}