@import '../../mainSass/main';

.aside-container  {
    margin: 16px 4px 16px 30px;
    max-width: 300px;
    // width: 300px;
    display: none;
}
@media (min-width: 929px) {
    .aside-container {
        display: block;
    }
}
.see-more {
    background-color: #fff;
    border: none;
    padding: 0 0 8px 16px;
    @extend %font-roboto;
    font-size: 14px;
    font-weight: 600;
}
.aside-item {
    border: 1px solid rgba(110, 109, 109, 0.212);
    margin: 16px 0;
    border-radius: 4px;
}
.aside-item .header {
    @extend %font-roboto;
    font-size: 20px;
    margin: 4px 0;
    padding: 8px 0 4px 16px;
    font-weight: 400;
}
@media (min-width: 992px) {
    .sticky {
      top: 78px;
      position: sticky;
    } 
  }