.feed-filter {
  background: #fff;
  top: 60px;
  z-index: 10;
  position: sticky;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  .feed-filter-wrapper {
    padding: 6px 16px;
    height: 34px;
    margin: 0 auto;
    .icon-left, .icon-right {
      width: 12px !important;
      height: 12px !important;
      border-radius: 50%;
      border: 1px solid transparent;
      &:hover {
        border-color: rgba(1, 1, 1, 0.1);
      }
      &:active {
        border-color: rgba(1, 1, 1, 0.05);
        background-color: rgba(1, 1, 1, 0.1);
      }
    }
    .icon-right {
      transform: rotateZ(180deg);
    }
    .feed-list-wrapper {
      top: 4px;
    }
    .feed-pill-wrapper {
      padding-right: 12px;
    }
    .feed-pill {
      border-radius: 16px;
      font-weight: 400;
      font-size: 14px;
      padding: 2px 12px;
      margin-bottom: 12px;
      color: #030303;
      background-color: rgba(0,0,0,0.05);
      border: 1px solid rgba(0,0,0,0.1);
      &.feed-selected {
        background-color: #030303;
        color: #fff;
      }
      &:hover:not(.feed-selected) {
        background-color: rgba(0,0,0,0.1);
      }
    }
  }
  .arrow-right, .arrow-left {
    display: none;
  }
}
@media (min-width: 929px) {
.feed-filter {
  .arrow-left, .arrow-right {
    display: block;
  }
}
}