@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Crimson+Text:wght@400;700&family=Playfair+Display:wght@500&family=Roboto:wght@300;400;500;700&display=swap');
%flex-row-nowrap {
    display: flex;
    flex-flow: row nowrap;
}
%font-playfair {
    font-family: 'Playfair Display', serif;
}
%font-cormorant {
    font-family: 'Cormorant Garamond', serif;
}
%font-crimson {
    font-family: 'Crimson Text', serif;
}
%font-roboto {
    font-family: 'Roboto', sans-serif;
}
%flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
}
%flex-column-wrap {
    display: flex;
    flex-flow: column wrap;
}
%flex-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
}

body {
    margin: 0;
    padding: 0;
}
