@import './main';

.flex-row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}

.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}
.flex-column-wrap {
  display: flex;
  flex-flow: column wrap;
}
.flex-column-nowrap {
  display: flex;
  flex-flow: column nowrap;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.align-items-center {
  align-items: center;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-2 {
  flex-grow: 2;
}
.list-style-none {
  list-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}
.icon-img {
  width: 20px;
  padding: 8px;
  height: 20px;
}
.icon-img {
  cursor: pointer;
  border-radius: 30%;
}
@media (min-width: 576px) {
  .icon-img {
      width: 22px;
      height: 22px;
  }
}
@media (min-width: 768px) {
  .icon-img {
      width: 26px;
      height: 26px;
  }
}